
{% extends 'blog/temp_indextop.html' %}

{% block header %}
  <h1>{% block title %}个人设置{% endblock %}</h1>
{% endblock %}

{% block all_content %}
{% if g.user %}
<div style="position: absolute;left: 150px; top: 400px" class="layui-container">
<div  class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a href="{{ url_for('user.setname')}}">
        <i class="layui-icon">&#xe620;</i>
        更改昵称
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="{{ url_for('user.setemail')}}">
        <i class="layui-icon">&#xe620;</i>
        更改邮箱
      </a>
    </li>
    <li class="layui-nav-item layui-this">
      <a href="{{ url_for('user.setpass')}}">
        <i class="layui-icon">&#xe620;</i>
        更改密码
      </a>
    </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
     <div class="fly-panel fly-panel-user" pad20>
      <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li class="layui-this" lay-id="info">我的邮箱</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-form layui-form-pane layui-tab-item layui-show">
          <form method="post">
             <div class="layui-form-item">
                <label for="L_nowpass" class="layui-form-label">当前密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="nowpass" name="nowpass" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>

          <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="password" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              
           <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="repassword" name="repassword" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>

            
            <div class="layui-form-item">
              <button class="layui-btn" key="set-mine" lay-filter="*" lay-submit>确认修改</button>
            </div>
            {% for message in get_flashed_messages() %}
                   <div class="warning" style="color:#FF5722;">{{ message }}</div>
            {% endfor %}
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<div  class="fly-footer">
  <p>ICS论坛  <br>  2018 &copy;    Web小组 出品  </p>
</div>

</div>


{% endif %}
{% endblock %}