{% extends "base.html" %}
{% block content %}

	<div style="margin-left:25%">
		<h2>Your Followers:</h2>
	</div>

	<div class="col-lg-9 col-md-9" style="float:left; padding:10px; width:50%; margin-left:25%; border:#0b8c56 solid 4px;">
		{% for person in persons %}
			<div style="border:#0b8c56 solid 1px;margin-bottom:5%">
			<div style="border:#0b8c56 solid 1px; margin-bottom:5% ">
				<div style="margin-left:5%; padding:2px"><h3>{{ person.user }}</h3></div>
			</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}