
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/Web.iml
.idea/workspace.xml
*.pyc
flaskr/flaskr/patch_12_12_1.sql
flaskr/flaskr/__init__.py

flaskr/flaskr/__init__.py
flaskr/flaskr/db - 副本.py
flaskr/flaskr/auth - 副本.py
flaskr/flaskr/__init__.py
flaskr/flaskr/db.py
flaskr/flaskr/blog - 副本.py
