{% extends 'blog/temp_indextop.html' %}

{% block header %}
  <h1>{% block title %}{{post['title']}}{% endblock %}</h1>
{% endblock %}

{% block all_content %}
<div style="position: absolute;left: 150px; top: 400px" class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
        <h1>{{ post['title'] }}</h1>
        <div class="fly-detail-info">
          <!--加精和置顶-->

        <!--
          {% if post['goodpost'] %}
          <span class="layui-badge layui-bg-red">精帖</span>
          {% endif %}
          -->

          <!--收藏和点赞，功能还没完全写完，之后会有一个收藏和取消收藏，反正位置都在这-->
        {% if g.user %}
          <div class="layui-btn-container">
            {% if post['is_top']==1 %}
              <span class="layui-badge layui-bg-black">置顶</span>
            {% endif %}
            {% if is_collect %}
            <a href="{{ url_for('blog.UNCOLLECT', id=post['id']) }}"  class="layui-btn layui-btn-xs layui-btn-radius layui-btn-danger">取消收藏</a>
            {% else %}
            <a href="{{ url_for('blog.COLLECT', id=post['id']) }}" class="layui-btn layui-btn-xs layui-btn-radius">收藏</a>
            {% endif %}
            {% if is_like %}
            <a href="{{ url_for('blog.UNLIKE', id=post['id']) }}" class="layui-btn layui-btn-xs layui-btn-radius layui-btn-danger">取消点赞</a>
            {% else %}
            <a href="{{ url_for('blog.LIKE', id=post['id']) }}" class="layui-btn layui-btn-xs layui-btn-radius">点赞</a>
            {% endif %}
          </div>
        {% endif %}
          
          <span class="fly-list-nums"> 
            <!--
            <a href="#comment"><i class="iconfont" title="回复">&#xe60c;</i> {{post['replynum']}}</a>
            <i class="iconfont" title="点击">&#xe60b;</i> {{post['clicknum']}}
          -->
          </span>
        </div>
        <div class="detail-about">
          <a class="fly-avatar" href="../user/home.html">
            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="{{post['username']}}">
          </a>
          <div class="fly-detail-user">
            <a href="{{ url_for('user.home', id=post['author_id']) }}" class="fly-link">
              <cite>{{post['username']}}</cite>
            </a>
            <span>{{ post['created'].strftime('%Y-%m-%d') }}</span>
          </div>

          {% if g.user %}
          {% if g.user['username']==post['username'] %}
          <!--删除帖子是楼主权限-->
          <form action="{{ url_for('blog.DeletePost', id=post['id']) }}" method="post">
           <div class="detail-hits" id="LAY_jieAdmin" data-id="post['id']">
            <input class="layui-btn layui-btn-xs jie-admin" type="submit" value="删除此帖" onclick="return confirm('确定删除帖子？');">
          </div>
          </form>
          {% endif %}
          {% endif %}
        </div>

        <div class="detail-body photos">
          <p>
            {{ post['body'] | safe }}
            {% for file in post['file'] %}
          <hr>
            <form action="{{ url_for('blog.DownloadFile',filename=file['filename'])  }}" method="post">
                <input class="layui-btn layui-btn-xs jie-admin" type="submit" value="{{file['filename']}}">
            </form>

            {% endfor %}
          </p>
        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>

        <ul class="jieda" id="jieda">
         {% for reply in post['reply'] %}
          <li data-id="111" class="jieda-daan">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
              <a class="fly-avatar" href="{{ url_for('user.home', id=post['author_id']) }}">
                <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt=" ">
              </a>
              <div class="fly-detail-user">
                <a href="{{ url_for('user.home', id=post['author_id']) }}" class="fly-link">
                  <cite>{{ reply['username'] }}</cite>
                </a>
                {% if reply['username']==post['username'] %}
                <span>(楼主)</span>
                {% endif %}
              </div>

              <div class="detail-hits">
                <span>{{ reply['created'].strftime('%Y-%m-%d') }}</span>
              </div>

            </div>
            <div class="detail-body jieda-body photos">
              <p>{{ reply['body'] | safe }}</p>
            </div>
            <div class="jieda-reply">
              <div class="jieda-admin">
              {% if g.user %}
                {% if reply['username']==g.user['username'] %}
                  <form action="{{ url_for('blog.DeleteReply', id=reply['id']) }}" method="post">
                    <input class="layui-btn layui-btn-xs jie-admin" type="submit" value="删除">
                  </form>
                {% endif %}
              {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
          <!-- 无数据时 -->
          <!-- <li class="fly-none">消灭零回复</li> -->
        </ul>
        {% if g.user %}
        <div class="layui-form layui-form-pane">
          <form method="post">
            <div class="layui-form-item layui-form-text">
              <a name="comment"></a>
              <div class="layui-input-block">
                <textarea id="body" name="body" required lay-verify="article_desc" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <input type="hidden" value="Save">
              <button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
            </div>
          </form>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='res/layui/layui.js') }}"></script>
<script>
layui.use(['layer', 'form', 'layedit'], function () {
                var layedit = layui.layedit;
                var index = layedit.build('body',{
                    height: 260,
                    tool:['strong','underline','del','|','link','face']
          });
                 var form = layui.form;
                //监听提交
                form.verify({
                    article_desc: function(value){
                        layedit.sync(index);
                        sleep(100);
                        if(value.length < 15){
                        return '不能少于15字哦';
                        }
                    }
                });
    });
</script>
{% endblock %}