<!--temp_index.html-->
 
 
{% extends 'blog/temp_indextop.html' %}

{% block header %}
  <h1>{% block title %}贴吧首页{% endblock %}</h1>
{% endblock %}

{% block detail %}


<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">

      <div class="fly-panel" style="margin-bottom: 0;">
        <div class="fly-panel-title fly-filter">
          <a href="" class="layui-this">相关用户</a>
        </div>

        <ul class="fly-list"> 
          {% for user in users %}
          <li>
             <a href="{{ url_for('user.home', id=user['id']) }}" class="fly-avatar">
              <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="{{ user['nickname'] }}">
            </a>
            <a href="{{ url_for('user.home', id=user['id']) }}" link>
                <cite>{{user['nickname']}}</cite>
              </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="fly-panel" style="margin-bottom: 0;">
        <div class="fly-panel-title fly-filter">
          <a href="" class="layui-this">相关帖子</a>
        </div>

        <ul class="fly-list"> 
          {% for post in posts %}
          <li>
            <a href="{{ url_for('user.home', id=post['author_id']) }}" class="fly-avatar">
              <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="{{ post['username'] }}">
            </a>
            <h2>
              <a href="{{ url_for('blog.ViewPost', id=post['id']) }}">{{ post['title'] }}</a>
            </h2>
            <div class="fly-list-info">
              <a href="{{ url_for('user.home', id=post['author_id']) }}" link>
                <cite>{{ post['nickname'] }}</cite>
              </a>
              <span>{{ post['created'].strftime('%Y-%m-%d') }}</span>
              
              <span class="fly-list-kiss layui-hide-xs" style="color: #8a8a8a;"><i class="layui-icon" title="收藏数">&#xe600;</i>{{ post['num_collect'] }}</span>
              <span class="fly-list-kiss layui-hide-xs" style="color: #8a8a8a;"><i class="layui-icon" title="点赞数">&#xe6c6;</i>{{ post['num_like'] }}</span>
                <i class="iconfont icon-pinglun1" title="回复数"></i>{{ post['num_reply'] }}
              </span>
            </div>
            <div class="fly-list-badge">
             
              {%if post['is_top']==1%}
              <span class="layui-badge layui-bg-black">置顶</span>
              {% endif %}
              
              {%if post['is_fine']%}
              <span class="layui-badge layui-bg-red">精帖</span>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
{% endblock %}
