{% extends 'temp_base.html' %}

{% block header %}
  <h1>{% block title %}登录与注册{% endblock %}</h1>
{% endblock %}

{% block detail %}
  <div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a href="{{ url_for('auth.login') }}">登入</a></li>
        <li class="layui-this">注册</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post">
              <div class="layui-form-item">
                <!--这里可能auth.py的register接收部分需要改一下。现在只收了username和password，需要增加储存nickname的功能以及对比password和repassword是否一致的功能，然后不一致需要输出对应的error，这边接口已经写好，会直接显示error的文字，所以改一下auth.py就行了-->
                <label for="username" class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                  <input type="text" id="username" name="username" required lay-verify="email" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">将会成为您唯一的登入名</div>
              </div>
              <div class="layui-form-item">
                <label for="nickname" class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" id="nickname" name="nickname" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="email" id="email" name="email" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">(选填)</div>
              </div>
              <div class="layui-form-item">
                <label for="password" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="password" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label for="repassword" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="repassword" name="repassword" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit>立即注册</button>
              </div>
              {% for message in get_flashed_messages() %}
                   <div class="warning" style="color:#FF5722;">{{ message }}</div>
                 {% endfor %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}