{% extends 'temp_base.html' %}

{% block header %}
  <h1>{% block title %}登录与注册{% endblock %}</h1>
{% endblock %}

{% block detail %}
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head runat="server">
  <div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li><a href="{{ url_for('auth.login') }}">登入</a></li>
        <li class="layui-this">注册</li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post" runat="server" onsubmit="">
              <div class="layui-form-item">
                <!--这里可能auth.py的register接收部分需要改一下。现在只收了username和password，需要增加储存nickname的功能以及对比password和repassword是否一致的功能，然后不一致需要输出对应的error，这边接口已经写好，会直接显示error的文字，所以改一下auth.py就行了-->
                <label for="username" class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                  <input type="text" id="username" name="username" required lay-verify="email" autocomplete="off" class="layui-input" placeholder="将会成为您唯一的登入名">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="nickname" class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                  <input type="text" id="nickname" name="nickname" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="email" class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                  <input type="email" id="email" name="email" autocomplete="off" class="layui-input" placeholder="请注意邮箱格式">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="password" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="password" name="password" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="6到16个字符">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="repassword" class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="repassword" name="repassword" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text" id="inputCode" name="imagecode" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入验证码">
                </div>
              </div>

              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="*" lay-submit onclick="">提交</button>
              </div>
              <img class="verify_code" src="/auth/code " onclick="this.src='/auth/code?'+ Math.random()">

              {% for message in get_flashed_messages() %}
                   <div class="warning" style="color:#FF5722;">{{ message }}</div>
                 {% endfor %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script language="javascript" type="text/javascript">
  window.onload = createCode();
  var code;
  function createCode() {
    code = "";
    var codeLength = 6; //验证码的长度
    var checkCode = document.getElementById("checkCode");
    var codeChars = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
    'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z',
    'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'); //所有候选组成验证码的字符，当然也可以用中文的
    for (var i = 0; i < codeLength; i++) {
      var charNum = Math.floor(Math.random() * 52);
      code += codeChars[charNum];
    }
    if (checkCode) {
      checkCode.className = "code";
      checkCode.innerHTML = code;
    }
  }
  function validateCode() {
    var inputCode = document.getElementById("inputCode").value;
    if (inputCode.length <= 0) {
      alert("请输入验证码！");
    }
    else if (inputCode.toUpperCase() != code.toUpperCase()) {
      alert("验证码输入有误！");
      createCode();
    }
  }
</script>
<style type="text/css">
  .code
  {
    background:url(a.jpg);
    font-family:Arial;
    font-style:italic;
    color:#009688;
    font-size:30px;
    border:0;
    padding:0px 3px;
    letter-spacing:3px;
    font-weight:bolder;
    float:left;
    cursor:pointer;
    width:150px;
    height:60px;
    line-height:60px;
    text-align:center;
    margin-top:-9px;
    margin-bottom: 5px;
  }
  a
  {
    text-decoration:none;
    font-size:12px;
    color:#009688;
  }
  a:hover
  {
    text-decoration:underline;
  }
</style>
{% endblock %}