{% extends 'new_index.html' %}

{% block header %}
  <h1>{% block title %}文件管理{% endblock %}</h1>
{% endblock %}

{% block content %}
<!--<link rel="stylesheet" href="../static/res/layui/css/layui.css" media="all">-->
  <div class="layui-container">
  <form action="" method="post" enctype="multipart/form-data">
    <input type="text" id="title" name="title" required  lay-verify="required" placeholder="请输入文件ID" autocomplete="off" class="layui-input" value="{{ request.form['title'] }}" required>
     <div class="fly-column-right layui-hide-xs">
      <button class="layui-btn" lay-filter="*" lay-submit>搜索文件</button>
     </div></form>
  </div>

<div class="layui-container">
<table class="layui-table">
  <thead>
    <tr>
      <th width="20" style="text-align:center">上传用户ID</th>
      <th width="100" style="text-align:center">用户昵称</th>
      <th width="100" style="text-align:center">文件名</th>
      <th width="1" style="text-align:center">删除</th>
    </tr> 
  </thead>
  {% for post in posts %}
  <tbody>
    <tr>
      <td style="text-align:center">{{ post['author_id'] }}</td>
      <td style="text-align:center">{{ post['nickname'] }}</td>   
      <td style="text-align:center">{{ post['filename'] }}</td>
      <td style="text-align:center">
          <form action="{{ url_for('admin.DeleteDoc', id=post['id']) }}" method="post">
              <button class="layui-btn layui-btn-danger layui-btn-xs"  lay-filter="*" lay-submit type="submit">删除文件</button>
        <!--<button class="layui-btn layui-btn-sm layui-btn-danger" href="{{ url_for('admin.DeleteDoc', id=post['id']) }}">
          <i class="layui-icon">&#xe640;</i>
        </button>-->
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>

{% endblock %}

