{% extends 'new_index.html' %}

{% block header %}
  <h1>{% block title %}用户管理{% endblock %}</h1>
{% endblock %}

{% block content %}
<!--<link rel="stylesheet" href="../static/layui/css/layui.css" media="all">-->
    <canvas id="myCanvas" width="150px" height="500px" horizontalScrollPolicy="off"></canvas>
  <div style="position:absolute;left:90px;top:140px" class="layui-container">
  <form action="" method="post" enctype="multipart/form-data">
    <input type="text" id="title" name="title" required  lay-verify="required" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
     <div class="fly-column-right layui-hide-xs">
      <button type="submit" class="layui-btn" lay-filter="*" lay-submit>搜索用户</button>
 </div>
  </form>
  </div>

<div style="position:absolute;left:90px;top:200px" class="layui-container">
<table class="layui-table">
  <thead>
    <tr>
      <th  style="text-align:center">用户ID</th>
      <th style="text-align:center">用户昵称</th>
      <th  style="text-align:center">注册时间</th>
      <th  style="text-align:center">邮箱</th>
        <th  style="text-align:center">禁言状态</th>
        <th  style="text-align:center">禁言操作</th>
      <th  style="text-align:center">删除操作</th>
    </tr>
  </thead>
  {% for post in posts %}
  <tbody>
    <tr>
      <td style="text-align:center">{{ post['id'] }}</td>
      <td style="text-align:center">{{ post['nickname'] }}</td>
      <td style="text-align:center">{{ post['created'] }}</td>
      <td style="text-align:center">{{ post['email'] }}</td>
        {% if post['is_block'] == 1 %}
            <td style="text-align:center">已被禁言</td>
            <td style="text-align:center">
            <form action="{{ url_for('admin.BlockMember', id=[post['id'],0]) }}" method="post">
                <button class="layui-btn layui-btn-normal layui-btn-xs"  lay-filter="*" lay-submit type="submit">解除禁言</button>
            </form>
            </td>
        {% else %}
            <td style="text-align:center">未被禁言</td>
            <td style="text-align:center">
            <form action="{{ url_for('admin.BlockMember', id=[post['id'],1]) }}" method="post">
                <button class="layui-btn layui-btn-warm layui-btn-xs"  lay-filter="*" lay-submit type="submit">禁言</button>
            </form>
            </td>
        {% endif %}
      <td style="text-align:center">
          <form action="{{ url_for('admin.DeleteMember', id=post['id']) }}" method="post">
              <button class="layui-btn layui-btn-danger layui-btn-xs"  lay-filter="*" lay-submit type="submit">删除用户</button>
          </form>
        <!--<button class="layui-btn layui-btn-sm layui-btn-danger" href="{{ url_for('admin.DeleteMember', id=post['id']) }}">
        <i class="layui-icon">&#xe640;</i>
        </button>-->
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>

    <br>
    <p style="text-align:center"><span style="color:#c2c2c2">Admin管理系统 2018 &copy; Web 小组出品</span></p>
  </div>
</div>

<script>
  var cav = document.getElementById('myCanvas');
  var w = window.screen.availWidth;
  var h = window.screen.availHeight;
  var yPositions = Array(300).join(0).split('');
  var ctx = cav.getContext('2d');
  var draw = function(){
    ctx.fillStyle = 'rgba(57,61,73,1)';
    ctx.fillRect(0,0,w,h*1.2);
    ctx.fillStyle = 'rgba(95,184,120,1)';
    ctx.font = '20px';
    yPositions.map(function(y,index){
      text = String.fromCharCode(1e2+Math.random()*330);
      x = index*10;
      cav.getContext('2d').fillText(text,x,y);
      if(y>Math.random()*1e4){
        yPositions[index]=0;
      }else{
        yPositions[index]=y+10;
      }

    });
  }
  cav.setAttribute("width",screen.availWidth);
  cav.setAttribute("height",screen.availHeight*1.2);
  setInterval('draw()',20);
</script>
{% endblock %}

