<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<title>{% block title %}{% endblock %} - 论坛</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='res/layui/css/layui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='res/css/global.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='res/layui/layui.js') }}"></script>
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="{{ url_for('static', filename='res/images/logo.png') }}" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="/"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <li class="layui-nav-item">
        <a href="../case/case.html"><i class="iconfont icon-iconmingxinganli"></i>案例</a>
      </li>
      <li class="layui-nav-item">
        <a href="http://www.layui.com/" target="_blank"><i class="iconfont icon-ui"></i>框架</a>
      </li>
    </ul>
    
    <ul class="layui-nav fly-nav-user">
       {% if g.user %}
       <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="{{ url_for('auth.register') }}"><!--个人主页-->
          <cite class="layui-hide-xs">{{ g.user['nickname'] }}</cite>
          <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="{{ url_for('auth.logout') }}">我的设置</a><!--我的设置-->
      </li>
      <li class="layui-nav-item">
        <a href="{{ url_for('auth.logout') }}">退出</a>
      </li>
       {% else %}
      <!-- 未登入的状态 -->
      <li class="layui-nav-item">
        <a class="iconfont icon-touxiang layui-hide-xs" href="{{ url_for('auth.login') }}"></a>
      </li>
      <li class="layui-nav-item">
        <a href="{{ url_for('auth.login') }}">登入</a>
      </li>
      <li class="layui-nav-item">
        <a href="{{ url_for('auth.register') }}">注册</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
  {% block detail %}{% endblock %}
</body>
</html>